<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="weather_config" translate="label" sortOrder="200">
            <label>Weather Config</label>
        </tab>
        <section id="weather" translate="label" type="text" sortOrder="40" showInDefault="1">
            <label>Weather api settings</label>
            <tab>weather_config</tab>
            <resource>Magento_Config::weather_config</resource>
            <group id="settings" translate="label" type="text" sortOrder="90" showInDefault="1">
                <label>API Settings</label>
                <field id="api_url" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>API url</label>
                </field>
                <field id="secret_key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1"
                       canRestore="1">
                    <label>API secret Key</label>
                </field>
            </group>
        </section>
    </system>
</config>
